.gameBoard {
    display: "flex";
    align-items: "center";
    flex-direction: "column";
}

.boardStyle {
    background-color: "#eee";
    width: "208px";
    align-items: "center";
    justify-content: "center";
    display: "flex";
    flex-direction: "column";
    border: "3px #eee solid"
}

.board-row {
    display: "flex";
}

.status {
    margin-top: "5px";
    margin-bottom: "5px";
    font-weight: "bold";
    font-size: "16px";
}

.winner {
    margin-top: "5px";
    margin-bottom: "5px";
    font-weight: "bold";
    font-size: "16px";
    height: "20px"
}

.resetButton {
    margin-top: "15px";
    margin-bottom: "16px";
    width: "80px";
    height: "40px";
    background-color: "#8acaca";
    color: "white";
    font-size: "16px"
}
